[workspace]
members = [
    "bins/revme",
    "bins/revm-test",
    "crates/*",
    "e2e",
]
resolver = "2"
default-members = ["crates/revm"]

[workspace.package]
authors = [
    "Stanislav Stepanov <stanislav@fluentlabs.xyz>",
]
edition = "2021"
readme = "README.md"
repository = "https://github.com/fluentlabs-xyz/revm-rwasm"
keywords = ["evm", "revm", "rust", "fluent"]
categories = ["evm", "no-std"]

[workspace.dependencies]
c-kzg = { version = "1.0.2", default-features = false }
lazy_static = { version = "1.4.0", default-features = false }
paste = { version = "1.0", default-features = false }

fluentbase-types = { git = "https://github.com/fluentlabs-xyz/fluentbase.git", branch = "devel", default-features = false }
fluentbase-sdk = { git = "https://github.com/fluentlabs-xyz/fluentbase.git", branch = "devel", default-features = false }
fluentbase-runtime = { git = "https://github.com/fluentlabs-xyz/fluentbase.git", branch = "devel", default-features = false }
fluentbase-codec = { git = "https://github.com/fluentlabs-xyz/fluentbase.git", branch = "devel", default-features = false }
fluentbase-poseidon = { git = "https://github.com/fluentlabs-xyz/fluentbase.git", branch = "devel", default-features = false }
fluentbase-genesis = { git = "https://github.com/fluentlabs-xyz/fluentbase.git", branch = "devel", default-features = false }
#fluentbase-types = { path = "../fluentbase/crates/types", default-features = false }
#fluentbase-sdk = { path = "../fluentbase/crates/sdk", default-features = false }
#fluentbase-runtime = { path = "../fluentbase/crates/runtime", default-features = false }
#fluentbase-codec = { path = "../fluentbase/crates/codec", default-features = false }
#fluentbase-poseidon = { path = "../fluentbase/crates/poseidon", default-features = false }
#fluentbase-genesis = { path = "../fluentbase/crates/genesis", default-features = false }
#revm = { package = "revm", git = "https://github.com/fluentlabs-xyz/revm-rwasm.git", default-features = false, branch = "devel", features = [
#    "ethersdb",
#    "std",
#    "serde-json",
#    "c-kzg",
#    "blst",
#] }

alloy-provider = { git = "https://github.com/alloy-rs/alloy.git", rev = "61140ec", default-features = false, features = [
    "reqwest",
] }
# needed for enabling TLS to use HTTPS connections when testing alloy DB
alloy-transport-http = { git = "https://github.com/alloy-rs/alloy.git", rev = "61140ec", default-features = false }

rwasm = { git = "https://github.com/fluentlabs-xyz/rwasm", branch = "devel", default-features = false }
#rwasm = { path = "../rwasm/rwasm", default-features = false }

revm-interpreter = { path = "crates/interpreter", default-features = false }
revm-precompile = { path = "crates/precompile", default-features = false }
revm-primitives = { path = "crates/primitives", default-features = false }
#revm = { path = "crates/revm", default-features = false, features = [
#    "ethersdb",
#    "std",
#    "serde-json",
##    "c-kzg",
#    "blst",
#] }

[workspace.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[profile.release]
lto = true
codegen-units = 1
debug = true

[profile.ethtests]
inherits = "test"
opt-level = 3
