[package]
name = "revm"
description = "Revm - Rust Ethereum Virtual Machine"
version = "20.0.0-alpha.1"
authors.workspace = true
edition.workspace = true
keywords.workspace = true
license.workspace = true
repository.workspace = true
readme.workspace = true

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints.rust]
unreachable_pub = "warn"
unused_must_use = "deny"
rust_2018_idioms = "deny"

[lints.rustdoc]
all = "warn"

[dependencies]
# revm
interpreter.workspace = true
inspector.workspace = true
precompile.workspace = true
primitives.workspace = true
database.workspace = true
database-interface.workspace = true
state.workspace = true
specification.workspace = true
bytecode.workspace = true
context.workspace = true
context-interface.workspace = true
handler.workspace = true

[dev-dependencies]
database.workspace = true
alloy-sol-types = { version = "0.8.2", default-features = false, features = [
    "std",
] }
ethers-contract = { version = "2.0.14", default-features = false }
anyhow = "1.0.89"
indicatif = "0.17"
reqwest = { version = "0.12" }
rstest = "0.22.0"

alloy-eip7702.workspace = true
alloy-provider = "0.9.2"
alloy-signer = "0.9.2"
alloy-signer-local = "0.9.2"

[features]
default = ["std", "c-kzg", "secp256k1", "portable", "blst"]
std = [
    "interpreter/std",
    "precompile/std",
    "handler/std",
    "context/std",
    "context-interface/std",
]
hashbrown = ["interpreter/hashbrown", "precompile/hashbrown"]
serde = ["interpreter/serde", "database-interface/serde", "primitives/serde"]
arbitrary = ["primitives/arbitrary"]
asm-keccak = ["primitives/asm-keccak"]
portable = ["precompile/portable"]

test-utils = []

dev = [
    "memory_limit",
    "optional_balance_check",
    "optional_block_gas_limit",
    "optional_eip3607",
    "optional_gas_refund",
    "optional_no_base_fee",
]
memory_limit = ["context/memory_limit", "interpreter/memory_limit"]
optional_balance_check = ["context/optional_balance_check"]
optional_block_gas_limit = ["context/optional_block_gas_limit"]
optional_eip3607 = ["context/optional_eip3607"]
optional_gas_refund = ["context/optional_gas_refund"]
optional_no_base_fee = ["context/optional_no_base_fee"]

# See comments in `precompile`
secp256k1 = ["precompile/secp256k1"]
c-kzg = ["precompile/c-kzg"]
# `kzg-rs` is not audited but useful for `no_std` environment, use it with causing and default to `c-kzg` if possible.
kzg-rs = ["precompile/kzg-rs"]
blst = ["precompile/blst"]
