[package]
name = "revm"
description = "Revm - Rust Ethereum Virtual Machine"
version = "23.1.0"
authors.workspace = true
edition.workspace = true
keywords.workspace = true
license.workspace = true
repository.workspace = true
readme.workspace = true

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints.rust]
unreachable_pub = "warn"
unused_must_use = "deny"
rust_2018_idioms = "deny"

[lints.rustdoc]
all = "warn"

[dependencies]
# revm
bytecode.workspace = true
context.workspace = true
context-interface.workspace = true
database.workspace = true
database-interface.workspace = true
handler.workspace = true
inspector.workspace = true
interpreter.workspace = true
precompile.workspace = true
primitives.workspace = true
state.workspace = true


[features]
default = ["std", "c-kzg", "secp256k1", "portable", "blst"]
std = [
	"interpreter/std",
	"precompile/std",
	"handler/std",
	"context/std",
	"context-interface/std",
	"bytecode/std",
	"database/std",
	"database-interface/std",
	"inspector/std",
	"primitives/std",
	"state/std",
]
hashbrown = ["interpreter/hashbrown", "precompile/hashbrown"]
serde = [
	"interpreter/serde",
	"database-interface/serde",
	"primitives/serde",
	"handler/serde",
	"context-interface/serde",
	"inspector/serde",
	"bytecode/serde",
	"context/serde",
	"database/serde",
	"state/serde",
]
arbitrary = ["primitives/arbitrary"]
asm-keccak = ["primitives/asm-keccak"]
asyncdb = ["database-interface/asyncdb"]

# Enables alloydb inside database crate
alloydb = ["database/alloydb"]

# Enables serde-json inside inspector crate
serde-json = ["serde", "inspector/serde-json"]

dev = [
	"memory_limit",
	"optional_balance_check",
	"optional_block_gas_limit",
	"optional_eip3607",
	"optional_no_base_fee",
]
memory_limit = ["context/memory_limit", "interpreter/memory_limit"]
optional_balance_check = ["context/optional_balance_check"]
optional_block_gas_limit = ["context/optional_block_gas_limit"]
optional_eip3607 = ["context/optional_eip3607"]
optional_no_base_fee = ["context/optional_no_base_fee"]

# Precompiles features

secp256k1 = ["precompile/secp256k1"] # See comments in `precompile`
c-kzg = [
	"precompile/c-kzg",
] # `kzg-rs` is not audited but useful for `no_std` environment, use it with causing and default to `c-kzg` if possible.
kzg-rs = ["precompile/kzg-rs"]
blst = ["precompile/blst"]
secp256r1 = ["precompile/secp256r1"]
bn = ["precompile/bn"]

# Compile in portable mode, without ISA extensions.
# Binary can be executed on all systems.
portable = ["precompile/portable"]
