[package]
authors = ["Dragan Rakita <dragan0rakita@gmail.com>"]
description = "REVM - Rust Ethereum Virtual Machine"
edition = "2021"
keywords = ["no_std", "ethereum", "evm", "revm"]
license = "MIT"
name = "revm"
repository = "https://github.com/bluealloy/revm"
version = "2.3.1"
readme = "../../README.md"

[dependencies]
auto_impl = { version = "1.0", default-features = false }
bytes = { version = "1.1", default-features = false }
hashbrown = { version = "0.13" }
hex = { version = "0.4", default-features = false }
revm-precompiles = { path = "../precompiles", version = "1.1.2", default-features = false }
revm-interpreter = { path = "../interpreter", default-features = false }

# Optional
serde = { version = "1.0", features = ["derive", "rc"], optional = true }

# ethersdb
tokio = { version = "1.23", features = [
    "rt-multi-thread",
    "macros",
], optional = true }
ethers-providers = { version = "1.0.2", optional = true }
ethers-core = { version = "1.0.2", optional = true }
futures = { version = "0.3.24", optional = true }


[dev-dependencies]
hex-literal = "0.3"

[features]
default = ["std", "secp256k1"]
dev = [
    "memory_limit",
    "optional_balance_check",
    "optional_block_gas_limit",
    "optional_eip3607",
    "optional_gas_refund",
]
secp256k1 = ["revm-precompiles/secp256k1"]
memory_limit = []
no_gas_measuring = []
optional_balance_check = []
optional_block_gas_limit = []
optional_eip3607 = []
optional_gas_refund = []
std = ["bytes/std", "hex/std", "revm-interpreter/std"]
ethersdb = ["tokio", "futures", "ethers-providers", "ethers-core"]
serde = ["dep:serde", "hex/serde", "hashbrown/serde", "revm-interpreter/serde"]
# deprecated feature
web3db = []
