[package]
name = "revm-statetest-types"
description = "Statetest types for revme"
version = "10.1.2"
authors.workspace = true
edition.workspace = true
keywords.workspace = true
license.workspace = true
repository.workspace = true
readme.workspace = true
rust-version.workspace = true

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dependencies]
# revm
revm = { workspace = true, features = ["std", "serde"] }
serde = { workspace = true, features = ["derive", "rc"] }
serde_json = { workspace = true, features = ["preserve_order"] }
k256 = { workspace = true }
thiserror = { workspace = true }
alloy-eips = { workspace = true }
